# Ignore all generated Doxygen documentation files
html/
latex/
xml/
*.tag
*.log
*.aux
*.toc
*.out
*.dvi
*.pdf
*.ps
*.idx
*.ilg
*.ind
*.blg
*.bbl
*.brf
*.lof
*.lot
*.nav
*.snm
*.synctex.gz
*.vrb
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg
*.glsdefs
*.run.xml
