[submodule "external/quiche"]
	path = external/quiche
	url = https://github.com/cloudflare/quiche.git
[submodule "_sub_repos/Bazaar"]
	path = _sub_repos/Bazaar
	url = https://github.com/MeanderingAI/Bazaar
[submodule "_sub_repos/Stallholder"]
	path = _sub_repos/Stallholder
	url = https://github.com/MeanderingAI/Stallholder
[submodule "_sub_repos/SyngCoin"]
	path = _sub_repos/SyngCoin
	url = https://github.com/MeanderingAI/SyngCoin.git
[submodule "_sub_repos/business_site"]
	path = _sub_repos/business_site
	url = https://github.com/MeanderingAI/business_site.git
[submodule "_sub_repos/Teniky"]
	path = _sub_repos/Teniky
	url = https://github.com/AIMeandering/Teniky.git
