build
build_*
!_scripts/build_scripts/
!_scripts/build_scripts/**
build_lsp
build-test
build-emscripten-local-check
build-emscripten-local-check-default
bin
apps/__pycache__/
.site
.site_validation
.site_validation_docs
.local-cpp-docs
.documentation/
.r-library
.r-makevars.local
Testing
**/a.out
*.log
gen_docs/
**/*.o
**/.DS_Store
**/*.bak
*.bak
_binaries/abbs/CmakeFiles/
_deps/
build-emscripten
eigen-src
eigen-build
_local_build_pipeline/out
_local_build_pipeline/tmp
.certs
quiche/
_libraries/gen_docs/html/
_libraries/gen_docs/CMakeFiles/
_libraries/rust_bindings/target/
_libraries/rust_bindings/Cargo.lock
external
.venv
_local_build_pipeline/tmp
go*
error.*
.vs
out