build
build-test
build-emscripten-local-check
build-emscripten-local-check-default
Testing
**/a.out
_libraries/gen_docs/html/
_libraries/gen_docs/CMakeFiles/
*.log
gen_docs/
**/*.o
**/.DS_Store
**/*.bak
*.bak
_binaries/abbs/CmakeFiles/
_deps/
build-emscripten
eigen-src
eigen-build
_libraries/rust_bindings/target/
_libraries/rust_bindings/Cargo.lock