include pyproject.toml
include setup.py
include README.md
recursive-include _libraries/python_bindings *.md *.txt *.toml *.py *.typed *.h *.hpp *.cpp *.cmake
include _libraries/python_bindings/CMakeLists.txt
global-exclude *.pyc
global-exclude __pycache__
global-exclude .git*
global-exclude build/
global-exclude dist/
global-exclude *.egg-info