include README.md
include INSTALL.md
include QUICK_INSTALL.md
include requirements.txt
include CMakeLists.txt
include pyproject.toml
include setup.py
recursive-include ml_toolbox *.py *.typed
recursive-include ml_core *.py
recursive-include examples *.py *.md
recursive-include include *.h *.hpp
recursive-include ../../groups/cool_car/MATRIX/headers *.h *.hpp
recursive-include ../../groups/cool_car/DL *.h *.hpp *.cpp
recursive-include src *.cpp
recursive-include vendor_include *.h *.hpp
recursive-include vendor_src *.cpp
recursive-include cmake *.cmake
global-exclude *.pyc
global-exclude __pycache__
global-exclude .git*
global-exclude build/
global-exclude dist/
global-exclude *.egg-info